<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="basicSample_cs_p.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <basicSample_cs_p.Properties.Settings>
            <setting name="basicSample_cs_p_apex_SforceService" serializeAs="String">
                <value>https://www.salesforce.com/services/Soap/u/10.0</value>
            </setting>
            <setting name="basicSample_cs_p_apexMetadata_MetadataService"
                serializeAs="String">
                <value>https://na1-api-blitz01.soma.salesforce.com/services/Soap/m/10.0</value>
            </setting>
        </basicSample_cs_p.Properties.Settings>
    </applicationSettings>
</configuration>